img{
  border-color: blue;
  border-radius: 25%;
  position: relative;

}

body {
  margin: 10px auto 10px;
  background-color: lightblue;
  width: 725px;
}

h1 {
  padding: 10px;

}

h2 {
  padding: 10px;
}

h3 {
  padding: 10px;
}

p {
  padding-right: 5px;
  padding-left: 5px;
}

.list{
  padding: 10px;
}
